# streamlit
# torch>=1.9.0
# torchvision>=0.10.0
# torchaudio>=0.9.0
# monai>=0.8.0
# # copick>=0.6.0
# # copick-utils>=0.2.0
# numpy>=1.20.0
# pandas>=1.3.0
# scikit-image>=0.18.0
# zarr>=2.10.0
# tqdm>=4.60.0
# matplotlib>=3.4.0
# connected-components-3d>=3.7.0
# lightning>=1.5.0 
# plotly>=5.0.0

streamlit==1.45.1
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
# monai-weekly==1.5.dev2508
# copick==0.8.1
# copick-utils==0.0.1
numpy==1.26.4
pandas==2.2.2
scikit-image==0.25.0
zarr==2.18.3
tqdm==4.67.1
matplotlib==3.7.5
connected-components-3d==3.23.0
lightning==2.5.0.post0
plotly==5.24.1